<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/spinner.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="../../node_modules/material-design-icons/iconfont/material-icons.css" />
    <title>ChickenFM</title>
</head>

<!--play_arrow-->
<!--pause-->

<body>
    <div id="app">
        <audio class="audio" ref="audio" id="audio"></audio>
        <div class="image" :style="{backgroundImage:'url('+art+')'}">
            <div class="player">
                <span v-if="playing" @click="toggle" class="material-icons md-48 align-middle">pause</span>
                <span v-else-if="!playing && !loading" @click="toggle" class="material-icons md-48 align-middle">play_arrow</span>
                <div v-if="loading">
                    <!--https://codepen.io/gaffareljeremie/pen/owjhF-->
                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
                </div>
            </div>
        </div>
        <div class="content">
            <p class="title">{{title}}</p>
            <p class="artist">{{artist}}</p>
        </div>
        <div class="buttons">
            <div class="closebutton button">
                <span class="material-icons closespan" @click="close">close</span>
                <div class="buttonstack">
                    <span class="material-icons button requestsong" @click="requestsong">playlist_add</span>
                    <span class="material-icons button stationchanger" @click="stationchanger">radio</span>
                </div>
            </div>
            <div class="volumebutton">
                <div class="button">
                    <span class="material-icons button">volume_up</span>
                </div>
                <div class="volumeslider">
                    <input type="range" min="0" max="100" value="100" class="volumerange" @input="changeVolume($event)" />
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script>
    require("./js/index.js")
</script>

</html>