<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/spinner.css" />
    <link rel="stylesheet" href="css/stationstyle.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="../../node_modules/material-design-icons/iconfont/material-icons.css" />
    <title>Stations</title>
</head>

<body>
    <div id="app" class="container">
        <div v-if="errored">
            <h3>There was an error while trying to connect to ChickenFM. Please try again later.</h3>
        </div>
        <div v-if="loading">
            <!--https://codepen.io/gaffareljeremie/pen/owjhF-->
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle style="stroke: black;" class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
        </div>
        <div v-else>
            <h3>Click on a station to select it</h3>
            <p v-for="station in stations" class="station" v-bind:key="station.id" @click="stationchange">
                <b v-if="current == station.id" :value="station.id">{{station.name}}</b>
                <span v-else :value="station.id">{{station.name}}</span>
            </p>
        </div>
    </div>
</body>
<script>
    require("./js/stationchange.js")
</script>

</html>